
.vs/MovieTicket/DesignTimeBuild/.dtbcache.v2

.vs/MovieTicket/v17/.futdcache.v2

.vs/MovieTicket/v17/.suo

.vs/ProjectEvaluation/movieticket.metadata.v7.bin

.vs/ProjectEvaluation/movieticket.projects.v7.bin
